@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-firago), Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type='checkbox'] {
  accent-color: var(--green-primary);
  border-color: var(--gray-primary);
}

input[type='checkbox']:checked {
  background-color: var(--green-primary);
  border-color: var(--gray-primary);
}
